@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

above(width)
  @media (min-width: width)
    {block}

$gutter = 8px

*
  margin 0
  padding 0
  box-sizing border-box

body, input, button
  font-family Raleway, sans-serif
  font-size 16px
  color #444
  background #f6f6f6
  border none
  outline none

.prezi-search
  display flex
  flex-direction column
  align-items center

  &--search
    width 100%
    max-width 450px
    display flex
    margin-top $gutter
    margin-bottom $gutter

    +above(450px)
      margin-top 80px
      margin-bottom 80px

    input
      flex 1
      border-bottom 2px solid #ddd
      -webkit-appearance none
      padding $gutter
    button
      width 120px
      border-bottom 2px solid #ddd
      -webkit-appearance none
      padding $gutter
      background #eee
      cursor pointer


.prezi-list
  width 100%
  list-style none
  display flex
  flex-wrap wrap
  padding $gutter
  &--item
    padding $gutter
    width 100%
    +above(450px)
      width 50%
    +above(800px)
      width 33.33%
    +above(1200px)
      width 25%

    &--loading
      width 100%
      text-align center

    &--load-more
      width 100%
      display flex
      flex-direction column
      align-items center
      button
        width 100%
        max-width 450px
        padding $gutter
        background #eee
        cursor pointer

.prezi
  margin-bottom $gutter*2
  &--thumbnail
    position relative
    padding-top 100%
    img
      position absolute
      top 0
      width 100%
  &--info
    padding $gutter 0
    color #888
  &--date
    padding $gutter 0
    color #444
  &--title
    color #444
    font-weight 300
    font-size 1.5rem
  &--creator
    color #444
    font-size 1.2rem
